/* ==== TYPOGRAPHY ================= */
@import url(http://fonts.googleapis.com/css?family=Monoton);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

h1{font-size: 2em; color:#fff; font-family: Ubuntu; margin: 0 0 20px 0;}
h2{font-size: 1.8em; color:#fff; font-family: Ubuntu; margin: 0 0 20px 0;}
h3{font-size: 1.4em; color:#fff; font-family: Ubuntu; margin: 0 0 20px 0;}
h4{font-size: 1.2em; color:#fff; font-family: Ubuntu; margin: 0 0 20px 0;}
h5{font-size: 1.1em; color:#fff; font-family: Ubuntu; margin: 0 0 20px 0;}

.inline{display: inline;}

.shadow {
	text-shadow: 1px 1px 3px #000;
	filter: dropshadow(color=#000, offx=1, offy=1);
}

a.white_link{
	color:inherit;
}

/* ==== STRUCTURE ================== */

body{
	font-family: Ubuntu;
	background: #B9543C;
	font-size: 16px;
	color: #fff;
}

pagecontent{
	display: block;
}

/* ==== HEADER ===================== */

header{
	text-align: center;
	border-bottom: solid 20px #06736C;
	background: #053B44;
	margin-bottom: 20px;
}

header h2{
	margin-top: 20px;
	font-size: 3em;
	font-family: Monoton;
	font-weight: 100;
	color: #fff;
}

/* ==== WELCOME ==================== */

div.grade_wrap{
	font-size: 1.2em;
	font-weight: 700;
	width: 5em;
	float: right;
	display: inline;
}

span.letter_wrap{
	display: inline-block;
	text-align: left;
}

span.number_wrap{
	float: right;
	text-align: right;
	display: inline-block;
	text-align: right;
}

div.report{
	margin: 0 0 20px 0;
}

div.details table.report_card{
	margin: 0;
}

table.report_card{
	width: 100%;
}

tr.head_row{
	font-weight: 500;
}

td.center{
	text-align: center;
}

td.right{
	text-align: right;
}

div.source_wrap{
	cursor: pointer;
	border-radius: 4px;
	padding: 8px;
	background: #DB765E;
	margin: 0 0 8px 0;
}

input.zip_input{
	border-radius: 4px;
	box-shadow: none;
	height: 36px;
	border: none;
	background: #DB765E;
}

div.row.sidebar_sec{
	margin-bottom: 40px;
}

/* ==== LOGIN / SIGNUP ============= */

label {
	color: #fff;
}

input.button{
	padding-top: 8px;
	height: 32px;
}

/* ==== FOOTER ===================== */

footer{
	font-size: .8em;
	margin: 20px 0 20px 0;
}